extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Alumno

block carousel-indicators
block carousel_block
block marketing_block
block content
  .row.featurette
    .col-md-2
      // img.featurette-image.img-responsive(src="{% static 'images/itch.png' %}", alt='one image missed')
    .col-md-8
      legend.lead
        | {{ object.title }}
        if object_list
          a.navbar-right(href="{% url 'edit-alumno' object_list.numero_control %}")
            span.glyphicon.glyphicon-edit

        if object_list
          h3
            | Datos del Alumno

          p No. Control: {{ object_list.numero_control }}
          p Nombre: {{ object_list.nombre_completo }}
          p Plan: {{ object_list.plan_estudio }}

          a(href="{% url 'plan-b' object_list.numero_control %}")
            span.glyphicon.glyphicon-th-large
            | Plan de estudios
        else
          h3 Alumno no encontrado
    .col-md-2
