extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Crear carrera

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2

    .col-md-8
      legend.text-center Crear carrera
      form.row(method='post', action='{% url "add-carrera" %}')
        {% csrf_token %}
        .form-group.col-md-12
          label(for='id_departamento') {{ form.departamento.label }}
          .row
            .col-md-11
              {{ form.departamento }}
            .col-md-1
              a.btn(href="{% url 'add-depto' %}?next={% url 'add-carrera' %}")
                span.glyphicon.glyphicon-plus-sign

        .form-group.col-md-12
          label(for='id_nombre') {{ form.nombre.label }}
          {{ form.nombre }}

        .form-group.col-md-6
          label(for='id_coordinador') {{ form.coordinador.label }}
          {{ form.coordinador }}
        .form-group.col-md-6
          label(for='id_presidente_academico') {{ form.presidente_academico.label }}
          {{ form.presidente_academico }}

        hr.featurette
        .btn-group.pull-right
          button.btn.btn-primary(type='submit') Guardar

    .col-md-2
