extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Registrar

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2

    .col-md-8
      legend.text-center
        if form.clave.value
          | editar materia
        else
          | registrar materia
      form.row(method='post', action='{% url "add-materia" %}')
        {% csrf_token %}

        .form-group.col-md-6
          label(for='id_plan_estudio') {{ form.plan_estudio.label }}
          {{ form.plan_estudio }}
        .form-group.col-md-6
          label(for='id_departamento') {{ form.departamento.label }}
          {{ form.departamento }}

        .form-group.col-md-3
          label(for='id_clave') {{ form.clave.label }}
          {{ form.clave }}
        .form-group.col-md-7
          label(for='id_nombre') {{ form.nombre.label }}
          {{ form.nombre }}
        .form-group.col-md-2
          label(for='id_creditos') {{ form.creditos.label }}
          {{ form.creditos }}

        .form-group.col-md-4
          label(for='id_semestre') {{ form.semestre.label }}
          {{ form.semestre }}
        .form-group.col-md-4
          label(for='id_clave') {{ form.requisitos.label }}
          {{ form.requisitos }}
        .form-group.col-md-4
          label(for='id_nombre') {{ form.corequisitos.label }}
          {{ form.corequisitos }}

        .form-group.col-md-4
          label(for='id_hc') {{ form.hc.label }}
          {{ form.hc }}
        .form-group.col-md-4
          label(for='id_ht') {{ form.ht.label }}
          {{ form.ht }}
        .form-group.col-md-4
          label(for='id_hp') {{ form.hp.label }}
          {{ form.hp }}

        hr.featurette
        .btn-group.pull-right
          button.btn.btn-primary(type='submit') Guardar

    .col-md-2
