extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Agregar clase

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2

    .col-md-8
      legend.text-center Crear clase
      form.row(method='post', action='{% url "add-clase" %}')
        {% csrf_token %}
        .form-group.col-md-12
          label(for='id_profesor') {{ form.profesor.label }}
          .row
            .col-md-11
              {{ form.profesor }}
            .col-md-1
              a.btn(href="{% url 'add-profesor' %}?next={% url 'add-clase' %}")
                span.glyphicon.glyphicon-plus-sign

        .form-group.col-md-12
          label(for='id_materia') {{ form.materia.label }}
          .row
            .col-md-11
              {{ form.materia }}
            .col-md-1
              a.btn(href="{% url 'add-materia' %}?next={% url 'add-clase' %}")
                span.glyphicon.glyphicon-plus-sign

        .form-group.col-md-6
          label(for='id_anio') Año
          {{ form.anio }}

        .form-group.col-md-6
          label(for='id_periodo') {{ form.periodo.label }}
          {{ form.periodo }}

        .form-group.col-md-6
          label(for='id_cupo') {{ form.cupo.label }}
          {{ form.cupo }}
        .form-group.col-md-6
          label(for='id_hora') {{ form.hora.label }}
          {{ form.hora }}

        hr.featurette
        .btn-group.pull-right
          button.btn.btn-primary(type='submit') Guardar

    .col-md-2
