extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Registrar

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2

    .col-md-8
      legend.text-center Registrar alumno
      form.row(method='post', action='{% url "add-alumno" %}')
        {% csrf_token %}
        .form-group.col-md-12
          label(for='id_user') Usuario
          .row
            .col-md-11
              {{ form.user }}
            .col-md-1
              a.btn(href="{% url 'create-user' %}?next={% url 'add-alumno' %}")
                span.glyphicon.glyphicon-plus-sign

        .form-group.col-md-4
          label(for='id_numero_control') {{ form.numero_control.label }}
          {{ form.numero_control }}
        .form-group.col-md-8
          label(for='id_nombre_completo') {{ form.nombre_completo.label }}
          {{ form.nombre_completo }}

        .form-group.col-md-12
          label(for='id_plan_estudio') {{ form.plan_estudio.label }}
          {{ form.plan_estudio }}

        .form-group.col-md-8
          label(for='id_email') {{ form.email.label }}
          {{ form.email }}
        .form-group.col-md-4
          label(for='id_telefono') {{ form.telefono.label }}
          {{ form.telefono }}

        .form-group.col-md-4
          label(for='id_genero') {{ form.genero.label }}
          {{ form.genero }}
        .form-group.col-md-8
          b.alert {{ form.is_active.help_text }}
          {{ form.is_active }}
        div
          | {{ form.errors }}

        hr.featurette
        .btn-group.pull-right
          button.btn.btn-primary(type='submit') Registrar alumno

    .col-md-2
