extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Registrar plan de estudios

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2

    .col-md-8
      legend.text-center Crear plan de estudio 
      form.row(method='post', action='{% url "add-plan" %}')
        {% csrf_token %}
        .form-group.col-md-12
          label(for='id_clave') {{ form.clave.label }}
          {{ form.clave }}

        .form-group.col-md-12
          label(for='id_carrera') {{ form.carrera.label }}
          .row
            .col-md-11
              {{ form.carrera }}
            .col-md-1
              a.btn(href="{% url 'add-carrera' %}?next={% url 'add-plan' %}")
                span.glyphicon.glyphicon-plus-sign

        hr.featurette
        .btn-group.pull-right
          button.btn.btn-primary(type='submit') Registrar alumno

    .col-md-2
