extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Crear departamento académico

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2

    .col-md-8
      legend.text-center Crear departamento
      form.row(method='post', action='{% url "add-depto" %}')
        {% csrf_token %}
        .form-group.col-md-12
          label(for='id_nombre') {{ form.nombre.label }}
          {{ form.nombre }}
        .form-group.col-md-12
          label(for='id_jefe') {{ form.jefe.label }}
          {{ form.jefe }}

        hr.featurette
        .btn-group.pull-right
          button.btn.btn-primary(type='submit') Guardar

    .col-md-2
