extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Registrar

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2

    .col-md-8
      legend.text-center Registrar profesor
      form.row(method='post', action='{% url "add-profesor" %}')
        {% csrf_token %}
        .form-group.col-md-3
          label(for='id_rfc') {{ form.rfc.label }}
          {{ form.rfc }}
          .panel.panel-danger {{ form.rfc.errors }}

        .form-group.col-md-6
          label(for='id_nombre_completo') {{ form.nombre_completo.label }}
          {{ form.nombre_completo }}
          .panel.panel-danger {{ form.nombre_completo.errors }}

        .form-group.col-md-3
          label(for='id_grado') {{ form.grado.label }}
          {{ form.grado }}
          .panel.panel-danger {{ form.grado.errors }}

        .form-group.col-md-12
          label(for='id_materias') {{ form.materias.label }}
          {{ form.materias }}
          .panel.panel-danger {{ form.materias.errors }}

        .form-group.col-md-8
          label(for='id_domicilio') {{ form.domicilio.label }}
          {{ form.domicilio }}
          .panel.panel-danger {{ form.domicilio.errors }}
        .form-group.col-md-4
          label(for='id_telefono') {{ form.telefono.label }}
          {{ form.telefono }}
          .panel.panel-danger {{ form.telefono.errors }}

        .form-group.col-md-4
          label(for='id_genero') {{ form.genero.label }}
          {{ form.genero }}
          .panel.panel-danger {{ form.genero.errors }}

        .form-group.col-md-8
          label(for='id_fecha_ingreso') {{ form.fecha_ingreso.label }}
          {{ form.fecha_ingreso }}
          .panel.panel-danger {{ form.fecha_ingreso.errors }}

        hr.featurette
        .btn-group.pull-right
          button.btn.btn-primary(type='submit') Registrar profesor

    .col-md-2
