extends 'base.jade'

block carousel_block
block marketing_block
block content
  hr.featurette-divider
  legend.lead
    b {{ view.breadcrumbs }}
    | , &iexcl;Esta acci&oacute;n es potencialmente peligrosa!
  p
    | &iquest;Est&aacute; usted seguro que desea eliminar: 
    b {{ object.nombre }}
    | ?
  form(method='post')
    | {% csrf_token %}
    button.btn.btn-danger.pull-right S&iacute;, estoy seguro
    |     
    a.btn.pull-right(href="{% url 'entry-detail' object.id %}") No, definitivamente NO
  |   
  br
