html
  body
    | {% extends &apos;base.jade&apos; %}
    | {% load crispy_forms_tags %}
    | {% block title %}Eliminar publicaci&oacute;n{% endblock %}
    | {% block carousel_block %}{% endblock %}
    | {% block marketing_block %}{% endblock %}
    | {% block content %}
    hr.featurette-divider
    |   
    legend.lead
      b {{ view.breadcrumbs }}
      | , &iexcl;Esta acci&oacute;n es potencialmente peligrosa!
    |   
    p
      | &iquest;Est&aacute; usted seguro que desea eliminar al alumno con el n&uacute;mero de control: 
      b {{ object.username }}
      | ?
    |   
    form(method='post')
      | {% csrf_token %}
      button.btn.btn-danger.pull-right S&iacute;, estoy seguro
      |     
      a.btn.pull-right(href="{% url 'entry-detail' object.id %}") No, definitivamente NO
    |   
    br
    | {% endblock %}
