extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Editar alumno

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    legend.text-center Editar alumno
    .col-md-3
    .col-md-6
      label(for='id_user') {{ form.user.label }}
      .input-group
      |  {{ form.user }}

      .row
        .col-md-4
          label(for='id_numero_control') {{ form.numero_control.label }}
          {{ form.numero_control }}

        .col-md-8
          label(for='id_nombre_completo') {{ form.nombre_completo.label }}
          {{ form.nombre_completo }}

      label(for='id_genero') {{ form.genero.label }}
      {{ form.genero }}

      label(for='id_plan_estudio') {{ form.plan_estudio.label }}
      {{ form.plan_estudio }}

      label(for='id_is_active') {{ form.is_active.label }}
      {{ form.is_active }}
      .panel
        {{ form.is_active.help_text }}

      .row
        .col-md-4
          label(for='id_telefono') {{ form.telefono.label }}
          {{ form.telefono }}

        .col-md-8
          label(for='id_email') {{ form.email.label }}
          {{ form.email }}

      hr
      button.btn.btn-primary.pull-right Guardar
    .col-md-3

