extends 'base.jade'
{% load staticfiles %}
{% load i18n %}

block carousel-indicators
block carousel_block
block marketing_block
  .row
    legend Listado de materias

    .table-responsive
      table.table.table-hover
        th Clave
        th Nombre
        th Plan de estudios
        th Departamento
        th Semestre
        th Acciones
        for object in object_list
          tr
            td
              {{object.clave}}
            td
              {{object.nombre}}
            td
              {{object.plan_estudio}}
            td
              {{object.departamento}}
            td
              {{object.semestre}}
            td
              a(href='{% url "edit-materia" object.id %}')
                i.glyphicon.glyphicon-pencil
              //a(href='{% url "delete-materia" object.id %}')
                i.glyphicon.glyphicon-remove

      input.btn.btn-primary.btn.white(type='submit', value='Guardar', name='save_account')

block content
