extends 'base.jade'
{% load staticfiles %}
{% load i18n %}

block carousel-indicators
block carousel_block
block marketing_block
  .row
    legend Inscripción
    .table-responsive
      table.table.table-hover
        th Numero Control
        th Nombre
        th Email
        th Estado
        for object in object_list
          tr
            td
              a(href="{% url 'edit-alumno' object.numero_control %}")
                | {{object.numero_control}}
            td
              span {{object.nombre_completo}}
            td
              span  {{object.user.email}}
            td
              input(name='alumno-{{ object.id }}', type='checkbox')

      input.btn.btn-primary.btn.white(type='submit', value='Guardar', name='save_account')

block content
