extends 'base.jade'
{% load staticfiles %}
{% load i18n %}

block carousel-indicators
block carousel_block
block marketing_block
  .row
    legend Plan de estudios
    {% regroup object_list|dictsort:'semestre' by semestre as materias %}

    #accordion.panel-group(role='tablist', aria-multiselectable='true')
      for materia in materias
        .row
          a(role='button', data-toggle='collapse', data-parent='#accordion',
            href='#collapse-{{ materia.grouper }}', aria-expanded='true',
            aria-controls='collapse-{{ materia.grouper }}')
            .panel-heading(role='tab')
              h3.panel-title Semestre {{ materia.grouper }}

          .row.materia-block(id='collapse-{{materia.grouper}}')
            for m in materia.list
              .col-sm-2.col-md-2
                a.thumbnail(href="{% url 'request-materia' m.id %}")
                  .plan-item
                    b.caption {{ m.clave }}
                    p.plan-item-name {{m.nombre }}
                    table.table.text-muted
                      tr
                        td {{m.ht }}
                        td {{m.hp }}
                        td {{m.creditos }}
block content
