extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Solicitar curso de verano

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-3
    .col-md-6
      form(action='{% url "request-materia" form.materia.value %}', method='post')
        {% csrf_token %}
        legend {{ form.materia.value }}

        label(for='id_profesor') {{ form.profesor.label }}
        .input-group.col-md-8
          {{ form.profesor }}

        label(for='id_hora') {{ form.hora.label }}
        .input-group.col-md-4
          {{ form.hora }}

        hr
        .pull-right
          button.btn.btn-primary(type='submit') Enviar solicitud

    .col-md-3
