extends 'base.jade'

{% load staticfiles %}
{% load i18n %}

block carousel-indicators
block carousel_block
block marketing_block
block content
  .row.featurette
    .col-md-2
    .col-md-8
      label Seleccione archivos CSV
      form(method='post', action='{% url "import-data" %}', enctype='multipart/form-data')
        {% csrf_token %}

        {{ form.csv_file }}

      for message in messages
        .panel.40(class='alert alert-{% if message.code == 40 %}danger{% else %}success{% endif %}')
          | {{ message }}
    .col-md-2
