extends 'base.jade'
{% load humanize %}
block title
  | Historial de publicaciones
block carousel-indicators
block carousel_block
block marketing_block
  hr.featurette-divider
  .row
    if object_list
      for object in object_list
        .col-lg-4
          h3 {{ object.title }}
          span.text
            | Publicado 
            span.text-muted {{ object.created | naturalday }} &nbsp;
            |  por: {{ object.user }}
          p
            a.btn.btn-default(href="{% url 'entry-detail' object.id %}", role='button') Leer m&aacute;s &raquo;
    else
      legend No hay publicaciones

block content
