extends 'base.jade'

block carousel-indicators
block carousel_block
block marketing_block

block content
  legend.text-center Crear nueva publicación
  .row
    .col-md-2
    .col-md-8
      form(action='{% url "entry-add" %}', method='POST')
        {% csrf_token %}

        {{ form.as_p }}  
        button.btn.btn-primary.pull-right(type='submit') Guardar
    .col-md-2

