extends 'base.jade'
block title
  Eliminar publicaci&oacute;n

block carousel_block
block marketing_block
block content
  hr.featurette-divider
  legend.lead &iexcl;Esta acci&oacute;n es potencialmente peligrosa!
  p
    | &iquest;Est&aacute; usted seguro que desea eliminar {{ object.title }}, publicada el {{ object.modified }}?
  form(method='post')
    {% csrf_token %}
    button.btn.btn-danger.pull-right S&iacute;, estoy seguro
    a.btn.pull-right(href="{% url 'entry-detail' object.id %}") No, definitivamente NO
  br
