extends 'base.jade'
{% load i18n %}
{% load staticfiles %}

block title
block carousel-indicators
block carousel_block
block marketing_block
block content
  hr.featurette-divider
  |       
  .row.featurette
    .col-md-9
      legend.lead
        | {{ object.title }}
        if user.is_staff
          a.navbar-right(href="{% url 'entry-remove' object.id %}")
            span.glyphicon.glyphicon-remove
          |             
          a.navbar-right(href="{% url 'entry-edit' object.id %}")
            span.glyphicon.glyphicon-edit
      p {{ object.body | linebreaks }}
      span Fecha de publicaci&oacute;n: {{ object.created }}
