!!! 5

{% load staticfiles %}

html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href="{% static 'images/itch.png' %}")
    title ITCH | {% block title %}Cursos de verano{% endblock %}
    // Bootstrap core CSS
    link(rel='stylesheet', href="{% static 'bootstrap/css/bootstrap.min.css' %}", type='text/css')
    // <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap&#45;theme.min.css' %}" type="text/css">
    link(rel='stylesheet', href="{% static 'bootstrap-social/bootstrap-social.css' %}", type='text/css')
    link(rel='stylesheet', href="{% static 'bootstrap-social/css/font-awesome.css' %}", type='text/css')
    link(href="{% static 'css/fileinput.min.css' %}", media='all', rel='stylesheet', type='text/css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.min.css", media='all', rel='stylesheet', type='text/css')

    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    // Custom styles for this template
    link(href="{% static 'css/carousel.css' %}", rel='stylesheet')
    link(href="{% static 'css/style.css' %}", rel='stylesheet')
    block extras_to_head_tag
  // NAVBAR
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="{% url 'index' %}")
                img(src='/static/images/it.png', style='width:30px; height:auto')
                |               ITCH | Verano
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                // <li class="active"><a href="{% url 'index' %}">Home</a></li>
                li
                  a.white(href="{% url 'instructions' %}") Proceso de inscripci&oacute;n
              ul.nav.navbar-nav.navbar-right
                if not user.is_authenticated
                  li
                    a.white(href="{% url 'create-user' %}") Activar cuenta
                  li
                    a.white(href="{% url 'login' %}") Iniciar sesión
                else
                  if user.is_staff
                    li
                      form.navbar-form.form-horizontal(role='form', method='get', action='{% url "search-alumno" %}')
                        .form-group
                          input.form-control(pattern='[\d]{8}', name='q', type='search',
                                             placeholder='No. Control')

                        button.btn.btn-default(type='submit')
                          span.glyphicon.glyphicon-search
                  li.dropdown
                    a.white(data-toggle='dropdown')
                      | Bienvenido, {{ user.get_full_name | default:user.username }} 
                      b.caret

                    ul.dropdown-menu
                      li
                        a(href="{% url 'change-passwd' %}") Cambiar contrase&ntilde;a
                      li
                        a(href="{% url 'logout' %}") Cerrar sesi&oacute;n
                      li.divider
                      li.dropdown-header Publicaciones
                      li
                        a(href="{% url 'plan' %}") Plan de estudios
                      li
                        a(href="{% url 'entry-archive' %}") Historial de publicaciones

                        if user.is_staff
                          li
                            a(href="{% url 'entry-add' %}") Crear publicaci&oacute;n
                          li.divider
                          li.dropdown-header Opciones 
                          li
                            a(href="{% url 'import-data' %}") Importar alumnos (CSV)
                          li
                            a(href="{% url 'add-alumno' %}") Registrar alumno
                          li
                            a(href="{% url 'lista-materia'%}") Listado de materias
                          li
                            a(href="{% url 'lista-alumno'%}") Listado alumnos
                          li
                            a(href="{% url 'add-materia' %}") Crear materia
                          li
                            a(href="{% url 'add-clase' %}") Crear clase
                          li
                            a(href="{% url 'add-profesor' %}") Crear profesor
                          li
                            a(href="{% url 'add-depto' %}") Crear depto
                          li
                            a(href="{% url 'add-plan' %}") Crear plan de estudio
                          li
                            a(href="{% url 'add-carrera' %}") Crear carrera

    block cover_block

    // Carousel
    #carousel_id.carousel.slide(data-ride='carousel')
      // Indicators
      block carousel-indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
          li(data-target='#myCarousel', data-slide-to='3')
          li(data-target='#myCarousel', data-slide-to='4')

      .carousel-inner
        block carousel_block
          .item.active
            // <img data&#45;src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
            .container.panel.panel-primary.panel-transparent
              .carousel-caption.panel-heading
                h1.opacity ITCH - Cursos de verano (2015).
                |               
                p
                  a.btn.btn-lg.btn-primary(href='#', role='button') Iniciar sesi&oacute;n

      .container.marketing
        block marketing_block
          // Three columns of text below the carousel
          .row
            .col-lg-4
              img.img-circle(data-src='holder.js/140x140', alt='generic placeholder image')
              |           
              h2 heading
              |           
              p
                | morbi leo risus, porta ac consectetur ac, vestibulum at eros. praesent commodo cursus magna.
              |           
              p
                a.btn.btn-default(href='#', role='button') view details &raquo;
            // /.col-lg-4
            .col-lg-4
              img.img-circle(data-src='holder.js/140x140', alt='generic placeholder image')
              h2 heading
              p fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
              p
                a.btn.btn-default(href='#', role='button') view details &raquo;
            // /.col-lg-4
            .col-lg-4
              img.img-circle(data-src='holder.js/140x140', alt='generic placeholder image')
              h2 heading
              p
                | donec sed odio dui. cras justo odio, dapibus ac facilisis in, egestas eget quam. vestibulum id ligula porta felis euismod semper.
              p
                a.btn.btn-default(href='#', role='button') view details &raquo;
            // /.col-lg-4
          // /.row

        // START THE FEATURETTES
        block content
          hr.featurette-divider
          .row.featurette
            .col-md-7
              h2.featurette-heading
                | first featurette heading. 
                span.text-muted it&apos;ll blow your mind.
              p.lead
                | vestibulum id ligula porta felis euismod semper. praesent commodo cursus magna, vel scelerisque nisl consectetur. fusce dapibus, tellus ac cursus commodo.
            .col-md-5
              img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='generic placeholder image')

        hr.featurette-divider
        // /END THE FEATURETTES
        // FOOTER
        footer.footer
          .container.center
            ul.list-inline
              li &copy; 2014 ITCH &middot;
              li
                a(href='#') Pol&iacute;ticas
              li
                a(href='#contact') Contacto

      // Bootstrap core JavaScript
      // Placed at the end of the document so the pages load faster
      script(type='text/javascript', src="{% static 'js/jquery-1.11.3.min.js' %}")
      script(src="{% static 'js/fileinput.min.js' %}")
      script(src="{% static 'js/fileinput_locale_es.js' %}")
      script(type='text/javascript', src="{% static 'bootstrap/js/bootstrap.js' %}")
      script(type='text/javascript', src="{% static 'js/bootstrap-datepicker.js' %}")
      script(type='text/javascript', src='{% static "js/bootstrap-datepicker.es.js" %}', charset="UTF-8")
      script(type='text/javascript', src="{% static 'js/extra_js.js' %}")
