doctype html
| {% load staticfiles %}
html(lang='es')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    link(rel='shortcut icon', href="{% static 'images/itch.png' %}")
    |     
    title ITCH | {% block title %}Cursos de verano{% endblock %}
    // Bootstrap core CSS
    link(rel='stylesheet', href="{% static 'bootstrap/css/bootstrap.min.css' %}", type='text/css')
    |     
    link(rel='stylesheet', href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}", type='text/css')
    |     
    link(rel='stylesheet', href="{% static 'bootstrap-social/bootstrap-social.css' %}", type='text/css')
    |     
    link(rel='stylesheet', href="{% static 'bootstrap-social/css/font-awesome.css' %}", type='text/css')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |       
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // Custom styles for this template
    link(href="{% static 'css/cover.css' %}", rel='stylesheet')
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(type='text/javascript', src="{% static 'bootstrap/js/jquery.js' %}")
    |     
    script(type='text/javascript', src="{% static 'bootstrap/js/bootstrap.min.js' %}")
    |     
    script(type='text/javascript', charset='utf-8').
      $(document).ready(function() {
      var images = ['01.jpg', '02.jpg', '03.jpg', '04.jpg', '05.jpg'];
      $('.one').css({'background-image':
      'url(/static/images/cover/' + images[Math.floor(Math.random() * images.length)] + ')'}); });
  //
    NAVBAR
    ==================================================
  body
    //
      Carousel
      ==================================================
    #myCarousel.carousel.container.slide
      .carousel-inner
        .active.cover.one
          .container
            .carousel-caption
              h1 ITCH - Cursos de verano (2015).
              |               
              p
                | SOAOUUVYTRCRCT asqw
                | asiasxnuygdtvqwde
                | wfd&ntilde;weqfjasducvawe cuwheebcwe
                | cwe&ntilde;cascnwyucbh
              |               
              a.btn.btn-lg.btn-primary(href="{% url 'index' %}", role='button') Entrar
