doctype html
| {% load staticfiles %}
html(lang='es')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Welcome back
    |     
    link(href="{% static 'bootstrap/css/bootstrap.min.css'%}", rel='stylesheet')
    |     
    link(href="{% static 'css/cover.css'%}", rel='stylesheet')
  |   
  body
    .modal.in(tabindex='-1', role='dialog', aria-labelledby='l', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            |         
            h4#myModalLabel.modal-title Cursos de verano (ITCH)
          |       
          .modal-body
            h3 Modal Body
            |               
            h1 ITCH - Cursos de verano (2015).
            |               
            p
              | SOAOUUVYTRCRCT asqw
              | asiasxnuygdtvqwde
              | wfd&ntilde;weqfjasducvawe cuwheebcwe
              | cwe&ntilde;cascnwyucbh
          |       
          .modal-footer
            button.btn.btn-default(data-dismiss='modal', type='button') Close
    |     
    script(src="{% static 'bootstrap/js/jquery.js' %}")
    |     
    script(src="{% static 'bootstrap/js/bootstrap.min.js' %}")
