doctype html
| {% load staticfiles %}
html(lang='en')
  head
    meta(charset='utf-8')
    title Scroll&amp;Strap | Bootstrap Responsive Template
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // Le styles
    link(href="{% static 'bootstrap/css/bootstrap.css' %}", rel='stylesheet')
    link(href='assets/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='assets/css/pricing.css', rel='stylesheet')
    // !important THIS STYLE CSS ON BOTTOM OF STYLEs LIST
    link(href="{% static 'css/style.css' %}", rel='stylesheet')
    // !important THIS STYLE CSS ON BOTTOM OF STYLEs LIST
    link(href="{% static 'bootstrap-social/css/font-awesome.css' %}", rel='stylesheet')
    |  
    link(href='assets/css/prettyPhoto.css', rel='stylesheet', type='text/css')
    link(href='assets/js/google-code-prettify/prettify.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // Le fav and touch icons
    link(rel='shortcut icon', href='assets/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
  body(data-spy='scroll', data-target='.scroller-spy', data-twttr-rendered='true')
    // START MAIN-WRAPPER
    .main-wrapper
      // START MAIN-WRAPPER
      // TOP SECTION
      section#header-section.headertop.needhead
        // ################
        // START TOP MENU
        // ################
        nav.nav-top
          #topnavbar.navbar.navbar-static-top
            // navbar-fixed-top
            #navbartop.navbar-inner
              .container
                a.brand(href='index.jade')
                  span
                    i.fa-icon-circle-arrow-down
                    |  SCROLL&amp;STRAP
                  // <img src="assets/img/Logo.png" alt="Logo">
                |           
                #main-nav.scroller-spy
                  nav.nav-collapse.collapse
                    ul#nav.nav
                      li.active
                        a(href='#header-section') Home
                      | &#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#features-section') Service
                      | &#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#team-section') About us
                      | &#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#portfolio-section') Works
                      | &#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#price-section') Price
                      | &#x9;&#x9;&#x9;&#x9;
                      li
                        a(href='#contact-section') Contact
          // ################
          // END TOP MENU
          // ################
        // END HEADER headertop NAV
        // HEADER MARKETING SLOGAN
        header.container
          .row-fluid
            .wrap-hero
              .hero-unit.text-center
                // LOGO
                .logo
                  a(href='#', title='Scroll&Strap')
                    img(src="{% static 'images/cover/01.jpg' %}", alt='logo')
                // / LOGO
                .inner-wrap-hero
                  h1.text-center.main-color
                    span
                      | MODERN PARALLAX ONEPAGER
                      // INTRODUCING SCROLL&amp;STRAP!
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.visible-desktop MODERN PARALLAX ONE PAGE  TEMPLATE BUILD ON BOOTSRAP 2.3.0
                // <hr class="half">
                span#nav2.gobottom
                  a(href='#features-section', title='')
                    i.fa-icon-chevron-down.fa-icon-large
            // / HERO UNIT
          // / HERO WRAP
        // / HEADER MARKETING SLOGAN container
      // / TOP SECTION
      // /SERVICE SECTION
      section#features-section.section-2
        .bg-wraper.parallax-point-event
          .container
            .row-fluid
              // PROJECTS HEADER
              header
                .text-center.page-header
                  h3
                    span.white
                      // WHITE SPACE
                      | WHAT WE ARE 
                      span.main-color OFFER
          // /SERVICE HEADER
          .container
            .row-fluid
              // FEATURE ITEM
              .span3.effect-box-1
                span.label.label-warning.lines-bg-color.text-center
                  i.fa-icon-fullscreen.fa-icon-large
                | &#x9;&#x9;&#x9;&#x9;
                h4.features-title
                  span.main-color Responsive
                  |  Layout
                | &#x9;&#x9;&#x9;&#x9;
                p
                  | We combine creative forces with systematic activists. All ideas require implementation and our multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead meaningful brands.
              // END FEATURE ITEM
              // FEATURE ITEM
              .span3.effect-box-2
                span.label.label-warning.lines-bg-color.text-center
                  i.fa-icon-tint.fa-icon-large
                | &#x9;&#x9;&#x9;
                h4.features-title
                  span.main-color Designer  
                  | Friendly
                | &#x9;&#x9;&#x9;
                p
                  | We combine creative forces with systematic activists. All ideas require implementation and our multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead meaningful brands.
              // END FEATURE ITEM
              // FEATURE ITEM
              .span3.effect-box-3
                span.label.label-warning.lines-bg-color.text-center
                  i.fa-icon-thumbs-up.fa-icon-large
                | &#x9;&#x9;&#x9;
                h4.features-title
                  span.main-color Faster
                  |  Setup
                | &#x9;&#x9;&#x9;
                p
                  | Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.
              // END FEATURE ITEM
              // FEATURE ITEM
              .span3.effect-box-4
                span.label.label-warning.lines-bg-color.text-center
                  i.fa-icon-spinner.fa-icon-spin.fa-icon-large
                | &#x9;&#x9;&#x9;
                h4.features-title
                  span.main-color Modern
                  |  features
                | &#x9;&#x9;&#x9;
                p
                  | Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.
              // FEATURE ITEM
            // / ROW-FLUID
            hr
            | &#x9;
            | &#x9;
            | &#x9;
            .row-fluid
              .well
                .well-wrapp
                  p.lead.text-large.text-center
                    span.main-color
                      | Scroll&amp;Strap
                    |  - modern Bootstrap onepager with parallax effect and smooth scrolling
                  | &#x9;
                  span.btn-box
                    a.btn.btn-icon-large.btn-large.btn-action.btn-block-third(href='#')
                      i.fa-icon-download-alt.fa-icon-large
                      | &#x9;&#x9;Buy now!
                    | &#x9;&#x9;&#x9;
                    i.or - or - 
                    | &#x9;&#x9;&#x9;
                    span#nav3
                      a.btn.btn-icon-large.btn-large.btn-green-alt.btn-block-third(href='#slogan-section-2')
                        i.fa-icon-info-sign.fa-icon-large
                        |  Show me more!
            // /row-fluid
          // /CONTAINER
        // / BG WRAPER
      // /FEATURE section
      // /SLOGAN section
      section#slogan-section-2.section-3
        .bg.parallax-point-event
          .container
            // BADGE FEATURED
            .row-fluid
              .span12.text-center
                .featured-badge.orange
                  | FEATURED PROJECT
            // / BADGE FEATURED
            // FEATURED ITEMS
            .browser-shot-2
              .browser-header
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              img(src='images/SnapShot.png', alt='')
              // PLACE YOUR IMAGE HERE
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .browser-shot-1
              .browser-header
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              img(src='images/SnapShot.png', alt='')
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .browser-shot-3
              .browser-header
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              img(src='images/SnapShot.png', alt='')
            // FEATURED ITEMS
          // /container
        // /row
      // /SLOGAN section
      // /TEAM SECTION
      section#team-section
        // TEAM HEADER
        .container
          .row
            header
              .text-center.page-header
                h3
                  span.white
                    | WHO WE ARE - 
                    span.main-color OUR TEAM
                    |  
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&amp; 
                    span.main-color ABOUT
        | &#x9;
        | &#x9;
        .container
          .row-fluid
            // ABOUT ITEM
            .span6
              // IMAGE CONTAINER
              h3.main-color-line About us
              | &#x9;&#x9;&#x9;&#x9;
              p
                | Creative, inspired innovators, we are dedicated to developing long-term, honest, effective relationships with each of our clients, giving freely of our talent, experience, and expertise. We&apos;re not just a web design agency. We&apos;re not just a graphic design firm. We&apos;re not just coders and we&apos;re not just artists.
              | &#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;
              h3.main-color-line Our vision
              | &#x9;&#x9;&#x9;&#x9;
              p
                | We get better design when we understand our medium. Yet even at this late cultural hour, many people don&apos;t understand web design. Among them can be found some of our most distinguished business and cultural leaders, including a few who possess a profound grasp of design - except as it relates to the web.
              | &#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;
              h3.main-color-line Our experience
              | &#x9;&#x9;&#x9;&#x9;
              p
                | What makes future of web design? Experience. We&apos;ve been producing web design  for almost a decade, and are intimately familiar with the trends, technologies, and stars that make the web beautiful.
              // END IMAGE CONTAINER
              // CAPTION
            // / ABOUT ITEM
            // TEAM ITEM
            .thumbnail.span3
              // IMAGE CONTAINER
              .sample.project-item-image-container
                img(src='http://lorempixel.com/260/195/people/1', alt='')
              // END IMAGE CONTAINER
              // CAPTION
              .caption
                .transit-to-top
                  p.caption-descr
                    i.fa-icon-quote-left.main-color
                    | &#x9;&#x9;&#x9;&#x9;AT FUTURE OF WEB DESIGN YOU&apos;LL NOT ONLY SEE GREAT SITES, YOU&apos;LL MEET AMAZING PEOPLE. PEOPLE LIKE YOU... 
                    i.fa-icon-quote-right.main-color
                  | &#x9;&#x9;&#x9;&#x9;
                  h4
                    strong Joahna Doe
                    |  - 
                    small talented designer
                  | &#x9;
                  | &#x9;
                  .widget_nav_menu
                    ul.social-bottom
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-facebook
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-twitter
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-github-alt
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-google-plus
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-linkedin
                // END CAPTION
              // END: THUMBNAIL
            // TEAM ITEM
            // TEAM ITEM
            .thumbnail.span3
              // IMAGE CONTAINER
              .sample.project-item-image-container
                img(src='http://lorempixel.com/260/195/technics/1', alt='')
              // END IMAGE CONTAINER
              // CAPTION
              .caption
                .transit-to-top
                  p.caption-descr
                    i.fa-icon-quote-left.main-color
                    | &#x9;&#x9;&#x9;&#x9;COME BE INSPIRED BY THE EXPERIENCES AND SUCCESSES OF THE WEB DESIGNERS 
                    | &#x9;&#x9;&#x9;&#x9;AMAZING PEOPLE WHO CREATE GREATE WEBSITES 
                    i.fa-icon-quote-right.main-color
                  | &#x9;&#x9;&#x9;&#x9;
                  h4
                    strong John Doe
                    |  - 
                    small great programmer
                  | &#x9;
                  .widget_nav_menu
                    ul.social-bottom
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-facebook
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-twitter
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-github-alt
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-google-plus
                      | &#x9;&#x9;&#x9;
                      li
                        span.badge.badge-warning
                          a(href='#', title='')
                            i.fa-icon-linkedin
                // END CAPTION
              // END: THUMBNAIL
            // TEAM ITEM
          // /ROW FLUID
          .row-fluid
            .span12
              hr
              | &#x9;&#x9;&#x9;
              .page-header
                h3
                  span.white
                    | SOME OF OUR 
                    span.main-color CLIENTS
          // CLIENTS
          .row-fluid
            .client-logo.thumbnail.client-thumb
              img(src='assets/img/logo_client.png', alt='logo')
            | &#x9;&#x9;&#x9;&#x9;
            .client-logo.thumbnail.client-thumb
              img(src='assets/img/logo_client.png', alt='logo')
            | &#x9;&#x9;&#x9;&#x9;
            .client-logo.thumbnail.client-thumb
              img(src='assets/img/logo_client.png', alt='logo')
            | &#x9;&#x9;&#x9;&#x9;
            .client-logo.thumbnail.client-thumb
              img(src='assets/img/logo_client.png', alt='logo')
            | &#x9;&#x9;&#x9;&#x9;
            .client-logo.thumbnail.client-thumb
              img(src='assets/img/logo_client.png', alt='logo')
          // CLIENTS
        // /CONTAINER
      // /TEAM SECTION
      // /SLOGAN section
      section#slogan-section-1
        .bg
          .container
            // SLOGAN
            .row-fluid
              span.logo
                // LOGO
                a(href='#', title='Scroll&Strap')
                  img(src='assets/img/logo_1_orange.png', alt='logo')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;
              .span12.text-center
                span.large-slogan.main-color
                  | SCROLL&amp;STRAP - responsive parallax onepager
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                span.large-slogan.main-color
                  | provides modern and clear design
              // /span12
            // /row-fluid
            // / SLOGAN
            // BUTTON GO BOTTOM
            .row-fluid
              .span12.text-center
                span#nav5.goprice.active
                  a(href='#portfolio-section', title='')
                    i.fa-icon-double-angle-down.fa-icon-large
            // / BUTTON GO BOTTOM
          // /container
        // BG
      // /SLOGAN section
      // PORTFOLIO SECTION
      section#portfolio-section
        .container
          .row
            // PORTFOLIO  HEADER
            .text-center
              header
                .span12.text-center.page-header
                  h3
                    span.white
                      | RECENT WORKS - 
                      span.main-color  PORTFOLIO
                      |  &amp; 
                      span.main-color PROJECTS
              // / PORTFOLIO SECTION HEADER
            // /text center
          // /ROW
        // /CONTAINER
        .container
          // ###################
          // START PORTFOLIO ITEM
          // ###################
          #container-folio.row
            // portfolio item
            .span6.project-item.graphics.box
              #myCarousel.carousel.slide
                // Carousel items
                .carousel-inner
                  .active.item
                    a(rel='prettyPhoto[gallery]', href='images/SnapShot.png', title='portfolio image')
                      img(src='images/SnapShot.png', alt='ScrollStrap')
                  | &#x9;&#x9;&#x9;&#x9;
                  .item
                    a(rel='prettyPhoto[gallery]', href='images/SnapShot.png', title='portfolio image')
                      img(src='images/SnapShot.png', alt='ScrollStrap')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    .carousel-caption
                      p
                        strong
                          span.main-color THIS Bootstrap
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Carousel integrated with PrettyPhoto jQuery plugin. Just click on photo for enlarge it.
                  | &#x9;&#x9;&#x9;&#x9;
                  .item
                    a(rel='prettyPhoto[gallery]', href='images/SnapShot.png', title='portfolio image')
                      img(src='images/SnapShot.png', alt='ScrollStrap')
                    | &#x9;&#x9;&#x9;&#x9;
                    .carousel-caption
                      p
                        strong
                          span.main-color THIS Bootstrap
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Carousel integrated with PrettyPhoto jQuery plugin. Just click on photo for enlarge it.
                // Carousel nav
                a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;
                | &#x9;&#x9;&#x9;  
                a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo;
            // END: portfolio item
            // portfolio item
            .span6.project-item.graphics.box
              h4.main-color-line
                span.white
                  strong
                    | INTRODUCING 
                    span.main-color SCROLL&amp;STRAP
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.lead
                | We work really hard for build this awesome template!
                | We hope that this project will be appreciated by you and your customers!
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p.lead
                | We work really hard for build this awesome template!
                | We hope that this project will be appreciated by you and your customers!
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              p
                a.btn.btn-action(href='#')
                  i.fa-icon-link
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Visit project site
            // END: portfolio item
          // / ROW FEATURED
          .container
            .row
              // PORTFOLIO  HEADER
              .text-center
                header
                  .span12.text-center.page-header
                    h3
                      span.white
                        | MORE 
                        span.main-color FEATURED PROJECTS
                // / PORTFOLIO SECTION HEADER
              // /text center
            // /ROW
          // /CONTAINER
          .row
            // portfolio item
            .span3.project-item.graphics.box
              .thumbnail
                // IMAGE CONTAINER
                a(rel='prettyPhoto[gallery]', href='images/buttons.jpg', title='portfolio image')
                  img(src='images/buttons.jpg', alt='iPhonegraphy')
                // END IMAGE CONTAINER
                // CAPTION
                .caption
                  h4 15 custom buttons
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p.caption-descr
                    | This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features
                // END CAPTION
              // END: THUMBNAIL
            // END: portfolio item
            // portfolio item
            .span3.project-item.graphics.box
              .thumbnail
                // IMAGE CONTAINER
                a(rel='prettyPhoto[gallery]', href='images/transitions.jpg', title='portfolio image')
                  img(src='images/transitions.jpg', alt='iPhonegraphy')
                // END IMAGE CONTAINER
                // CAPTION
                .caption
                  h4 Transitions effects
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p.caption-descr
                    | This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features
                // END CAPTION
              // END: THUMBNAIL
            // END: portfolio item
            // portfolio item
            .span3.project-item.graphics.box
              .thumbnail
                // IMAGE CONTAINER
                a(rel='prettyPhoto[gallery]', href='images/gmap.jpg', title='portfolio image')
                  img(src='images/gmap.jpg', alt='iPhonegraphy')
                // END IMAGE CONTAINER
                // CAPTION
                .caption
                  h4 Responsive gMap
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p.caption-descr
                    | This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features
                // END CAPTION
              // END: THUMBNAIL
            // END: portfolio item
            // portfolio item
            .span3.project-item.graphics.box
              .thumbnail
                // IMAGE CONTAINER
                a(rel='prettyPhoto[gallery]', href='images/price.jpg', title='portfolio image')
                  img(src='images/price.jpg', alt='iPhonegraphy')
                // END IMAGE CONTAINER
                // CAPTION
                .caption
                  h4 Pricing tables
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  p.caption-descr
                    | This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features
                // END CAPTION
              // END: THUMBNAIL
            // END: portfolio item
          // /innner folio row
        // CONTAINER
        .container
          .row
            // VIDEO  HEADER
            .text-center
              header
                .span12.page-header
                  h3
                    span.white
                      | PROJECT WITH 
                      span.main-color  RESPONSIVE VIDEO
              // / VIDEO SECTION HEADER
            // /text center
          // /ROW
        // /CONTAINER
        .container
          .row-fluid
            // SLIDER SIDE
            .span8
              .vendor
                .container-video
                  .fluid-width-video-wrapper(style='padding-top: 50%;')
                    iframe#fitvid862574(src='http://player.vimeo.com/video/35108500?color=ffffff')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .well
                p
                  | Description of video. Few words about your project video.
            // END: SLIDER SIDE
            // PORTFOLIO ASIDE
            .span4
              // TITLE
              h4.main-color-line Project with responsive video 
              // PARAGRAPH
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              p.visible-desktop
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              // END PARAGRAPH
              // DEVIDER LINE
              .no-color-line-no-border3
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              hr.half2
              // ACTION BUTTON
              a.btn.btn-info.btn-large.btn-block.btn-green-alt(href='#', title='') Lern more!
              // END ACTION BUTTON
            // PORTFOLIO ASIDE
      // / portfolio section
      // /SLOGAN section
      section#slogan-section-3
        .container
          .row-fluid
            span.logo
              // LOGO
              a(href='#', title='Scroll&Strap')
                img(src='assets/img/logo_1_orange.png', alt='logo')
            // / LOGO
            .span12.text-center
              span.large-slogan.main-color
                | Scroll&amp;Strap
              | &#x9;&#x9;&#x9;
              span.large-slogan
                | - modern Bootstrap one page
              | &#x9;&#x9;&#x9;
              span.large-slogan
                | template with parallax effect and smooth scrolling.
              | &#x9;&#x9;&#x9;
              span.large-slogan
                | Scroll&amp;Strap provides modern design features!
              | &#x9;&#x9;&#x9;
              span.large-slogan
                | Ready to buy? Check out our price!
            // /span12
          // /row-fluid
          // GOBOTTOM BUTTON
          .row-fluid
            .span12.text-center
              span#nav4.goprice
                a(href='#price-section', title='')
                  i.fa-icon-double-angle-down.fa-icon-large
          // / GOBOTTOM BUTTON
        // /container
      // /SLOGAN section
      section#price-section
        // PRICE SECTION HEADER #############
        .container
          .row
            .text-center
              header#portfolio
                .span12.text-center.page-header
                  h3
                    span.white
                      span.main-color PRICING
                      |  TABLES
        // / PRICE SECTION HEADER #############
        // PRICE SECTION #############
        .container
          .row-fluid
            .span4
              .pricing-table
                .pricing-table-header
                  span.heading Single applications
                  |                     
                  span.price-value
                    | $
                    span 14
                    span.mo
                      // /mo
                |                 
                .pricing-table-space
                |                 
                .pricing-table-features
                  p
                    i.fa-icon-ok.main-color
                    |  
                    strong Single
                    |  installation
                  | &#x9;&#x9;&#x9;&#x9;   
                  p
                    strong  Unlimited 
                    |  Support
                  | &#x9;&#x9;&#x9;&#x9;   
                  p
                    strong Validation
                    |  W3C
                  | &#x9;&#x9;&#x9;&#x9;   
                  p
                    strong Bootstrap
                    |  2.3.0
                  |                    
                  p
                    strong HTML5
                    |  &amp; 
                    strong  CSS3
                |                 
                .pricing-table-sign-up
                  a.btn.btn-large.btn-block.btn-inverse(href='#') BUY NOW!
            | &#x9;&#x9;
            .span4
              .pricing-table.pricing-table-highlighted
                .pricing-table-header
                  span.heading Multiple applications
                  |                     
                  span.price-value
                    | $
                    span 60
                    span.mo
                      // /mo
                |                 
                .pricing-table-space
                |                 
                .pricing-table-text
                  p
                    span.attention   RECOMMENDED
                |                 
                .pricing-table-features
                  p
                    i.fa-icon-ok.main-color
                    |  
                    strong Multiple
                    |  installation
                  |                    
                  p
                    strong  Unlimited 
                    |  Support
                  | &#x9;&#x9;&#x9;&#x9;   
                  p
                    strong Validation
                    |  W3C
                  | &#x9;&#x9;&#x9;&#x9;   
                  p
                    strong Bootstrap
                    |  2.3.0
                  |                     
                  p
                    strong HTML5
                    |  &amp; 
                    strong  CSS3
                |                 
                .pricing-table-sign-up
                  a.btn.btn-large.btn-block.btn-warning(href='#') BUY NOW!
            | &#x9;&#x9;&#x9;
            | &#x9;&#x9;
            .span4
              .pricing-table
                .pricing-table-header
                  span.heading Extended license
                  |                     
                  span.price-value
                    | $
                    span 750
                    span.mo
                      // /mo
                |                 
                .pricing-table-space
                | &#x9;&#x9;&#x9;&#x9;
                |                 
                .pricing-table-features
                  p
                    i.fa-icon-ok.main-color
                    |  
                    strong Unlimited
                    |  license
                  |                    
                  p
                    strong  Unlimited 
                    |  Support
                  | &#x9;&#x9;&#x9;&#x9;   
                  p
                    strong Validation
                    |  W3C
                  | &#x9;&#x9;&#x9;&#x9;   
                  p
                    strong Bootstrap
                    |  2.3.0
                  |                    
                  p
                    strong HTML5
                    |  &amp; 
                    strong  CSS3
                |             
                .pricing-table-sign-up
                  a.btn.btn-large.btn-block.btn-inverse(href='#') BUY NOW!
          // / row-fluid
        // / CONTAINER
        hr
        // PRICE SECTION SLOGAN #############
        .container
          .row
            .text-center
              .span12
                .well
                  .well-wrapp
                    p.lead.text-large.text-center
                      | Buy 
                      span.main-color
                        strong Scroll&amp;Strap
                      |  awesome parallax template now!  Limited time for lower price 
                      span.main-color
                        strong $14
                      | !
        // / PRICE SECTION SLOGAN #############
      // PRICE SECTION #############
      //
        ###################### FOOTER #######################
        ==================================================
      footer.footer
        section#contact-section.arrow_box
          .container
            .row-fluid
              // CONTAC HEADER
              .text-center
                #foot-head
                  .span12.text-center.page-header
                    h3
                      span.white
                        span.main-color CONTACT
                        |  INFORMATION
            // / CONTAC HEADER
            .row-fluid
              .span3
                h4.main-color-line
                  i.fa-icon-comments-alt.main-color
                  |  
                  span What people say
                |         
                blockquote
                  p
                    | He promptly completed the task at hand and communicates really well till the project reaches the finishing line.
                  | &#x9;&#x9;&#x9; 
                  span.test-caption
                    strong Steve Kruger UI/UX Designer at Woof Design Studio
                | &#x9;&#x9;
                blockquote
                  p
                    | I was pleased with his creative design and will definitely be hiring him again.
                  | &#x9;&#x9;&#x9;
                  span.test-caption
                    strong Steve Kruger UI/UX Designer at Woof Design Studio
              |       
              |      
              |      
              | &#x9;  
              | &#x9;
              .span6
                span.logo
                  // LOGO
                  a(href='#', title='Scroll&Strap')
                    img(src='assets/img/logo_1_orange.png', alt='logo')
                | &#x9;&#x9;
                hr
                | &#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;
                address
                  strong SCROLL&amp;STRAP, Inc.
                  br
                  | &#x9;&#x9;&#x9;&#x9;
                  i.fa-icon-map-marker
                  |  795 Folsom Ave, Suite 600
                  | &#x9;&#x9;&#x9;&#x9;San Francisco, CA 94107
                  br
                  | &#x9;&#x9;&#x9;&#x9;
                  i.fa-icon-phone-sign
                  |  + 4 (123) 456-7890
                  | &#x9;&#x9;&#x9;&#x9;
                  .foot-line
              | &#x9;  
              | &#x9;
              | &#x9;&#x9;
              | &#x9;&#x9;
              | &#x9;&#x9;
              .span3
                h4.main-color-line.text-center
                  i.fa-icon-share.main-color
                  |  
                  span Follow us
                | &#x9;&#x9;&#x9;
                ul.social-bottom
                  li
                    span.badge.badge-warning
                      a(href='#', title='')
                        i.fa-icon-facebook
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    span.badge.badge-warning
                      a(href='#', title='')
                        i.fa-icon-twitter
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    span.badge.badge-warning
                      a(href='#', title='')
                        i.fa-icon-github-alt
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    span.badge.badge-warning
                      a(href='#', title='')
                        i.fa-icon-google-plus
                  | &#x9;&#x9;&#x9;&#x9;
                  li
                    span.badge.badge-warning
                      a(href='#', title='')
                        i.fa-icon-linkedin
              | &#x9;
              | &#x9; 
              .span3
                h4.main-color-line
                  i.fa-icon-twitter.main-color
                  |  
                  span Twitter feed
                |         
                #tweets
            // / ROW
        | &#x9;
        section#map-section
          // MAP DIV // !Don't remove this !Important
          #map
          // MAP DIV // !Don't remove this !Important
      // END: FOOTER
    // END: MAIN-WRAPPER
    //
      Le javascript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='assets/js/jquery.js', type='text/javascript')
    |  
    script(src='assets/js/google-code-prettify/prettify.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-transition.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-alert.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-modal.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-dropdown.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-scrollspy.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-tab.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-tooltip.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-popover.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-button.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-collapse.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-carousel.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-typeahead.js', type='text/javascript')
    |  
    script(src='assets/js/bootstrap-affix.js', type='text/javascript')
    |  
    |  
    script(src='assets/js/jquery.prettyPhoto.js', type='text/javascript')
    script(src='assets/js/tweetable.jquery.js', type='text/javascript')
    script(src='assets/js/jquery.timeago.js', type='text/javascript')
    script(src='assets/js/jquery.fitvids.min.js', type='text/javascript')
    // PARALLAX PLUGIN
    script(type='text/javascript', src='assets/js/jquery.localscroll-1.2.7-min.js')
    script(type='text/javascript', src='assets/js/jquery.inview.js')
    script(type='text/javascript', src='assets/js/jquery.scrollTo-1.4.2-min.js')
    script(type='text/javascript', src='assets/js/jquery.parallax-1.1.3.js')
    // PARALLAX PLUGIN
    // gMap PLUGIN
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
    script(type='text/javascript', src='assets/js/jquery.gmap.js')
    // gMap PLUGIN
    script(src='assets/js/custom.js', type='text/javascript')
    script(type='text/javascript').
      jQuery(document).ready(function(){
      jQuery('#nav').localScroll(1000);
      jQuery('#nav2').localScroll(1000);
      jQuery('#nav3').localScroll(1000);
      jQuery('#nav4').localScroll(1000);
      jQuery('#nav5').localScroll(1000);
      //.parallax(xPosition, speedFactor, outerHeight) options:
      //xPosition - Horizontal position of the element
      //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
      //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
      jQuery('#header-section').parallax("50%", 0.1);
      jQuery('#features-section').parallax("50%", 0.1);
      jQuery('#team-section').parallax("50%", 0.1);
      jQuery('.bg').parallax("50%", 0.3);
      jQuery('#portfolio-section').parallax("50%", 0.3);
      jQuery('#price-section').parallax("50%", 0.3);
      jQuery('#contact-section').parallax("50%", 0.1);
      jQuery('#slogan-section-1').parallax("50%", 0.3);
      })
    script.
      jQuery('#features-section .parallax-point-event').bind('inview', function (event, visible) {
      if (visible == true) {
      jQuery('.effect-box-1').addClass("active");
      jQuery('.effect-box-2').addClass("active");
      jQuery('.effect-box-3').addClass("active");
      jQuery('.effect-box-4').addClass("active");
      }else{
      jQuery('.effect-box-1').removeClass("active");
      jQuery('.effect-box-2').removeClass("active");
      jQuery('.effect-box-3').removeClass("active");
      jQuery('.effect-box-4').removeClass("active");
      //jQuery('.effect-box').unbind('inview');
      }
      });
    script.
      jQuery('#slogan-section-1').bind('inview', function (event, visible) {
      if (visible == true) {
      jQuery('.large-slogan').addClass("active");
      }else{
      jQuery('.large-slogan').removeClass("active");
      }
      });
    script.
      jQuery('#slogan-section-2 .parallax-point-event').bind('inview', function (event, visible) {
      if (visible == true) {
      jQuery('.browser-shot-1').addClass("active");
      jQuery('.browser-shot-2').addClass("active");
      jQuery('.browser-shot-3').addClass("active");
      }else{
      jQuery('.browser-shot-1').removeClass("active");
      jQuery('.browser-shot-2').removeClass("active");
      jQuery('.browser-shot-3').removeClass("active");
      }
      });
    script.
      jQuery('#slogan-section-3').bind('inview', function (event, visible) {
      if (visible == true) {
      jQuery('.goprice').addClass("active");
      }else{
      jQuery('.goprice').removeClass("active");
      }
      });
    script.
      jQuery('#header-section').bind('inview', function (event, visible) {
      if (visible == true) {
      jQuery('.gobottom').addClass("active");
      jQuery('.hero-unit h1 span').addClass("active");
      }else{
      jQuery('.gobottom').removeClass("active");
      jQuery('.hero-unit h1 span').removeClass("active");
      }
      });
    script.
      var hero = jQuery('#header-section .hero-unit');
      jQuery(window).scroll(function () {
      if (jQuery(this).scrollTop() > 550) {
      hero.addClass("hide");
      } else {
      hero.removeClass("hide");
      }
      });
    | &#x9;&#x9;
    | &#x9;
    script.
      var navbar = jQuery('#navbartop');
      var navbartop = jQuery('#topnavbar');
      jQuery(window).scroll(function () {
      if (jQuery(this).scrollTop() > 640) {
      navbar.addClass("navbar-scroll");
      navbartop.removeClass("navbar-static-top");
      navbartop.addClass("navbar-fixed-top");
      } else {
      navbar.removeClass("navbar-scroll");
      navbartop.removeClass("navbar-fixed-top");
      navbartop.addClass("navbar-static-top");
      }
      });
    | &#x9;&#x9;
    | &#x9;&#x9;
    script.
      // Basic FitVids Test
      $(".container").fitVids();
    | &#x9;&#x9;
    | &#x9;&#x9;
    script(type='text/javascript').
      jQuery(document).ready(function(){
      jQuery('#map').gMap({ address: 'Folsom Ave, San Francisco, CA',
      panControl: true,
      zoomControl: true,
      zoomControlOptions: {
      style: google.maps.ZoomControlStyle.SMALL
      },
      mapTypeControl: true,
      scaleControl: true,
      streetViewControl: false,
      overviewMapControl: true,
      scrollwheel: true,
      icon: {
      image: "http://www.google.com/mapfiles/marker.png",
      shadow: "http://www.google.com/mapfiles/shadow50.png",
      iconsize: [20, 34],
      shadowsize: [37, 34],
      iconanchor: [9, 34],
      shadowanchor: [19, 34]
      },
      zoom:15,
      markers: [
      { 'address' : 'Folsom Ave, San Francisco, CA'}
      ]
      });
      });
    script(type='text/javascript').
      jQuery(function(){
      jQuery('#tweets').tweetable({
      username: 'wrapbootstrap',
      time: true,
      rotate: false,
      speed: 4000,
      limit: 1,
      replies: false,
      position: 'append',
      failed: "Sorry, twitter is currently unavailable for this user.",
      html5: true,
      onComplete:function(jQueryul){
      jQuery('time').timeago();
      }
      });
      });
    | &#x9;&#x9;
    script.
      jQuery('.carousel').carousel()
