extends 'base.jade'

{% load humanize %}
{% load news_filters %}
{% load home_filters %}

block extras_to_head_tag
  style(media='screen', type='text/css').
    #header {
      background: url("{% random_image 'static/images/cover/' %}") no-repeat center top;
      margin-top: -2px;
      padding-top: 11px;
      background-attachment: relative;
      background-position: center center;
      min-height: 650px;
      width: 100%;
    }

block cover_block
  #header
    br
    .container
      .row
        .col-lg-1
        .col-lg-10.center
          h1.opacity Cursos de Verano ITCH 2014
          h2.subtitle Registrate ya a los cursos de este verano.
          |           
          a
            span.glyphicon.glyphicon-chevron-down(onclick="goToByScroll('carousel_id', 2000);")
        .col-lg-1

      for message in messages
        if message.code == 40
          .row.alert.alert-danger {{ message }}
        else
          .row.alert.alert-success {{ message }}

block marketing_block
block content

block carousel_block
  for object in object_list
    div(class=("item active" if forloop['first'] else "item"))
      .container
        .carousel-caption
          hr.featurette-divider
          h2 {{ object.title }}
          p {{ object.body | cut_text | linebreaks }}
          span.text Publicado&nbsp;
          span.text-danger {{ object.modified | naturalday }}&nbsp;
          span por: {{ object.user }}

          p
            a.btn.btn-default(href="{% url 'entry-detail' object.id %}", role="button") Leer mas &raquo;
          hr.featurette-divider
