/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .cover {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.carousel .one {
    background-size: cover;
    -moz-background-size: cover;
    filter: blur(60px);
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.7;
  }
}

.modal.in {
    display:block;
}

