/* ==== Google font ==== */
/* @import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900'); */

body {
    /* background-color: #f2f2f2; /
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    /* color: #555; */
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.opacity {
    background-color: rgba(145, 135, 245, 0.5);
    padding: 10px;
}
.pos {
position: absolute;
top:1;
left:0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #444;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-align: center;
    font-weight: bold;
    font-size: 4.6em;
    // text-shadow: 20px 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #f5F5f5;
}

.glyphicon.glyphicon-chevron-down{
color: navy;
cursor: pointer;
}
p {
    margin-bottom: 20px;
    font-size: 16px;
}

.white{
color: #eee!important;
}
a {
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
cursor: pointer;
}

a:hover,
a:focus {
    color:#555;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.navbar-inverse .navbar-nav > li > a {
    color: #555;
    cursor: pointer;
    
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

/* .btn-theme  { */
/*   color: #fff; */
/*   background-color: #fd680e; */
/*   border-color: #fd680e; */
/* } */
/* .btn-theme:hover  { */
/*   color: #fff; */
/*   background-color: #444; */
/*   border-color: #444; */
/* } */
/* form.signup { */
/* 	margin-top: 30px; */
/* } */
/* form.signup button.btn { */
/* 	text-transform: uppercase; */
/* 	font-weight: 700; */
/* } */
/* form.signup input.form-control:focus { */
/* 	border-color: #fd680e; */
/* } */


/* Nav */
a.navbar-brand {
	color: #eee !important;
	font-weight: 900;
	text-transform: uppercase;
}
a.navbar-brand:hover {
    color: #eee !important;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Header */

/* #header {	 */
/* 	/* background-color: #444; */ */
/* 	background: url(../images/cover/04.jpg) no-repeat center top; */
/* 	margin-top: -20px; */
/* 	padding-top: 150px; */
/* 	background-attachment: relative; */
/* 	background-position: center center; */
/* 	min-height: 650px; */
/* 	width: 100%; */
/* } */


#header > h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: #eee;
	font-size: 45px;
    text-transform: uppercase;
	/* font-weight: 1900px; */
	letter-spacing: -1px;
}

h2.subtitle {
	color: #fff;
	font-size: 20px;
}

.center {
  text-align: center;
}

/* slide */
/* .carousel-indicators { */
/*   position: absolute; */
/*   bottom: -40px; */
/*   left: 50%; */
/*   z-index: 15; */
/*   width: 60%; */
/*   padding-left: 0; */
/*   margin-left: -50%; */
/*   text-align: center; */
/*   list-style: none; */
/* } */
/* .carousel-indicators li { */
/*   display: inline-block; */
/*   width: 10px; */
/*   height: 10px; */
/*   margin: 1px; */
/*   text-indent: -999px; */
/*   cursor: pointer; */
/*   background-color: #000 \9; */
/*   background-color: #fff; */
/*   border: 1px solid #fff; */
/*   border-radius: 10px; */
/* } */
/* .carousel-indicators .active { */
/*   width: 12px; */
/*   height: 12px; */
/*   margin: 0; */
/*   background-color: #b7cb1b; */
/* } */

#wrapper {
    min-height: 100%;
}

p.copyright {
	color: #eee;
	text-align: center;
}

@media screen and (max-width: 568px) {
 #plan-item { font-size: 100px; }
}

.plan-item {
    text-transform: uppercase;
    text-align: center;
    font-size: 11px !important;
}

.plan-item-name {
    font-size: 11px;
    font-weight: 600;
    height: 50px;
    max-height: 50px;
}

tr {
    padding-bottom: 0px;
}

.panel-heading {
    background-color: #eee;
    border: solid 1px #eee;
}

.materia-block {
    padding-top: 10px;
}

span.glyphicon-chevron-down {
    font-size: 14em;
    
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.input-error {
    border: solid 1px #A94442;
}
