extends 'base.jade'


| {% load staticfiles %}
| {% block carousel-indicators %}{% endblock %}
| {% block carousel_block %}{% endblock %}
| {% block marketing_block %}{% endblock %}
| {% block content %}
hr.featurette-divider
|       
.row.featurette
  .col-md-9
    h2.center El proceso de inscripci&oacute;n general consta de los siguientes pasos:
    |           
    |           
    ol
      li.h4.center Acceder a la aplicaci&oacute;n.           
      li.h4.center Registrar  cuenta de usuario.                 
      li.h4.center Activar mediante enlace de correo electronico.
      li.h4.center Elaborar horario
      li.h4.center Elaborar registro administrativo y seleccionar servicios
      li.h4.center Realizar el pago
      li.h4.center Confirmar la inscripci&oacute;n

      p.h4  Despu&eacute;s de haber realizado tu inscripci&oacute;n, retroalimenta el servicio que recibiste, contestando:
                      
      p.h4           Los botones estar&aacute;n activados &uacute;nicamente durante per&iacute;odos de inscripci&oacute;n a programas semestrales.
                
      p.h4   Activar cuenta de usuario.
      p.h4           Importante:
      p.h4           Para que el alumno pueda realizar dicho proceso es necesario que no tenga adeudos pendientes con recursos financieros.
      
      p.h4    Si el alumno tiene adeudo debe realizar el pago con al menos 2 d&iacute;as (48 horas) h&aacute;biles de anticipaci&oacute;n a su turno de elaboraci&oacute;n de horario.
      p.h4           La modificaci&oacute;n de horario inmediata posterior a la realizaci&oacute;n de registro administrativo y horario, podr&aacute; ser para baja, alta o cambio de materias.

      p.h4           Horario
      p.h4           Registro administrativo
      p.h4           Colegiatura (o colegiatura inicial)
      p.h4           Ingresar a la opci&oacute;n de &lsquo;Confirmaci&oacute;n de Inscripci&oacute;n&rsquo; que se encuentra dentro de la opci&oacute;n &lsquo;ESTATUS DE INSCRIPCI&Oacute;N&rsquo; y seleccionar &lsquo;Enviar correo de confirmaci&oacute;n&rsquo;
          
  .col-md-3
    img.featurette-image.img-responsive(src="{% static 'images/itch.png' %}", alt='one image missed')
| {% endblock %}
