extends 'base.jade'
{% load i18n %}
{% load staticfiles %}

block title
  | Cambiar contraseña

block carousel-indicators

block carousel_block

block marketing_block

block content
    .row
      .col-md-4
        // img.featurette-image.img-responsive(src="{% static 'images/itch.png' %}", alt='one image missed')
      .col-md-4
        if form.non_field_errors
          .alert.alert-danger
            {{ form.non_field_errors }}

        form(action='{% url "change-passwd" %}', method='POST')
          {% csrf_token %}

          label(for='id_old_password') {{ form.old_password.label }}
          div(class='{% if form.errors.old_password %}input-error{% endif %}')
            {{ form.old_password }}

          if form.errors.old_password
            .alert.alert-danger
              {{ form.errors.old_password }}

          label(for='id_new_password1') {{ form.new_password1.label }}
          div(class='{% if form.errors.new_password2 %}input-error{% endif %}')
            {{ form.new_password1 }}

          label(for='id_new_password2') {{ form.new_password2.label }}
          div(class='{% if form.errors.new_password2 %}input-error{% endif %}')
            {{ form.new_password2 }}

          if form.errors.new_password2
            .alert.alert-danger
              {{ form.errors.new_password2 }}

          hr
          .btn-group.pull-right
            button.btn.btn-primary(type='submit') Cambiar mi contraseña

      .col-md-4
