extends 'base.jade'

{% load i18n %}
{% load staticfiles %}

block title
  | Registrar

block carousel-indicators
block carousel_block
block marketing_block

block content
  .row.featurette
    .col-md-2
      // img.featurette-image.img-responsive(src="{% static 'images/itch.png' %}", alt='generic placeholder image')
    .col-md-8
      legend.text-center Registrar usuario
      form.row(action='{% url "create-user" %}', method='post')
        if form.non_field_errors
          .alert.alert-danger {{ form.non_field_errors }}

        {% csrf_token %}
        .form-group.col-md-12
          label(for='id_username') {{ form.username.label }}
          div(class='{% if form.errors.username %}input-error{% endif %}')
            {{ form.username }}
          if form.errors.username
            .alert.alert-danger {{ form.errors.username }}

        .form-group.col-md-12
          label(for='id_email') {{ form.email.label }}
          div(class='{% if form.errors.email %}input-error{% endif %}')
            {{ form.email }}
          if form.errors.email
            .alert.alert-danger {{ form.errors.email }}

        .form-group.col-md-12
          label(for='id_password1') {{ form.password1.label }}
          {{ form.password1 }}
        .form-group.col-md-12
          label(for='id_password2') {{ form.password2.label }}
          div(class='{% if form.errors.password2 %}input-error{% endif %}')
            {{ form.password2 }}

          if form.errors.password2
            .alert.alert-danger {{ form.errors.password2 }}

        .form-group.col-md-12
          div(class='{% if form.errors.password2 %}input-error{% endif %}')
            {{ form.captcha }}
          p {{ form.captcha.help_text }}

          if form.errors.captcha
            .alert.alert-danger {{ form.errors.captcha }}

        button.btn.btn-primary.pull-right(type='submit') Guardar

    .col-md-2
