extends 'base.jade'

{% load i18n %}

{% load staticfiles %} // Ooops

block title
    if user.is_authenticated
      | Sesión iniciada
    else
      | Iniciar sesión

block carousel-indicators

block carousel_block
block marketing_block

block content
  .row.featurette
    h2.text-center Iniciar sesión

    .col-md-3
      //img.featurette-image.img-responsive(src="{% static 'images/itch.png' %}", alt='one image missed')

    .col-md-6.well.well-lg
      if form.non_field_errors
        .alert.alert-danger
          {{ form.non_field_errors }}

      if user.is_authenticated
        legend
          | Usted est&aacute; autenticado como: 
          span.text-success {{ user.username }} - {{ user.email }}
      else
        form(action='{% url "login" %}', method='POST')
          {% csrf_token %}
          .form-group
            label(for='id_username') {{ form.username.label }}
            .input-group.col-md-12.col-sm-12 {{ form.username }}

          .form-group
            label(for='id_password') {{ form.password.label }}
            .input-group.col-md-12.col-sm-12 {{ form.password }}

          .btn-group
            button.btn.btn-primary(type='submit') Entrar

    .col-md-3
