extends 'base.jade'

{% load staticfiles %}

block carousel-indicators
block carousel_block
block marketing_block
block content
  .row.featurette
    hr.featurette-divider
    .col-md-3
      img.featurette-image.img-responsive(src="{% static 'images/itch.png' %}", alt='one image missed')
    .col-md-9
      h4 Sesi&oacute;n cerrada!
      p Gracias por el tiempo que ha dedicado al sitio web hoy.
      a(href="{% url 'login' %}") Identificarse de nuevo
//
      span.text-muted It&apos;ll blow your mind.

      a.btn.btn-lg.btn-success(href="{% url 'social:begin' 'twiter' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}")
        span.glyphicon.glyphicon-search
      a.btn.btn-lg.btn-danger(href="{% url 'social:begin' 'google' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}")
        span.glyphicon.glyphicon-search
      a.btn.btn-lg.btn-info(href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}")
        span.glyphicon.glyphicon-search
      a.btn.btn-lg.btn-default(href="{% url 'social:begin' 'google' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}")
        span.glyphicon.glyphicon-search
      p.lead .
  .span5.login-right
    a.zocial.google(href="{% url 'social:begin' 'google' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}") Login with Google
