html
  body
    | {% extends &apos;base.jade&apos; %}
    | {% load i18n %}
    | {% load staticfiles %}
    | {% load crispy_forms_tags %}
    | {% block title %}
    | {% if user.is_authenticated %}
    | Sesi&oacute;n iniciada
    | {% else %}
    | Iniciar sesi&oacute;n
    | {% endif %}
    | {% endblock %}
    | {% block carousel-indicators %}{% endblock %}
    | {% block carousel_block %}{% endblock %}
    | {% block marketing_block %}{% endblock %}
    | {% block content %}
    hr.featurette-divider
    |       
    .row.featurette
      .col-md-3
        img.featurette-image.img-responsive(src="{% static 'images/itch.png' %}", alt='one image missed')
      |         
      .col-md-9
        | {% if user.is_authenticated %}
        legend
          | Usted est&aacute; autenticado como: 
          span.text-success {{ user.username }}
        |           {% else %}
        |           {# {% crispy form %} #}
        |           
        br
        |           
        legend O mediante su red social preferida:
        |           
        .col-md-3
          a.btn.btn-block.btn-social.btn-facebook(href="{% url 'social:begin' 'facebook' %}")
            i.fa.fa-facebook
            | Facebook
        |           
        .col-md-3
          a.btn.btn-block.btn-social.btn-google-plus(href="{% url 'social:begin' 'google-oauth2' %}")
            i.fa.fa-google-plus
            | Google
        |           
        .col-md-3
          a.btn.btn-block.btn-social.btn-twitter(href="{% url 'social:begin' 'twiter' %}")
            i.fa.fa-twitter
            | Twitter
        |           {% endif %}
    | {% endblock %}
